.archive.tax-program-cat,
.archive.tax-format-cat,
.archive.post-type-archive-program,
.archive.archive.post-type-archive-format {
	.row.tags {
		font-size: 0.75em;
		a {
			font-size: inherit !important;
		}
		text-align: left;

		margin-top: 2.5em;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
		}

		.row-container {
			@include tags;
			justify-content: left;
		}
	}
	.row[class*="level-"]:not(.level-1) {
		border-left: 4px solid #eee;
		padding-left: 1em;
		margin-bottom: 0;
		padding-bottom: 1.5em;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.page_title .tags {
		@include tags;
		margin-top: 0.5em;
		justify-content: center;

		span {
			font-weight: bold;
		}
		a {
			@include hover {
				span {
					color: red;
				}
			}
		}
	}
}
